.container{
    width: 500px;
}

.row{
    height: 140px;
}

body.index,
body.lineup{
    background-image: url(../img/bg_stars.gif);
    font-family: 'Times New Roman', Times, serif;
}

body.trivia{
    background-image: url(../img/bg-lineup.gif);
    font-family: 'Times New Roman', Times, serif;
}


.center{
    margin-top: 140px;
}


.lineup-planet,
.junior{
    margin-left: -35px;
}

.jump{
    position: relative;
}

.jumplogo{
    position: absolute;
    transform: translate(-60%);
}

li{
    padding: 0 10px;
    list-style: none;
}

a,
.footer{
    color: red;
    font-size: 13px;
}

a:hover{
    color: red;
}

footer{
    margin-top: 140px;
}

.text-yellow{
    color: yellow;
}

.lineup .text p{
    color: red;
    font-size: 23px;
}

.lineup,
.trivia {
    padding: 20px 60px 0 60px;
}

.lineup .logo,
.trivia .logo {
    width: 100px;
}

.trivia{
    font-size: 23px;
}